.back-button {
  text-decoration: none;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.back-button:visited {
  color: white;
}

.character-info {
  display: flex;
  flex-direction: column;
}

.character-info.inactive > * {
  opacity: 0.3;
}

.character-name.info {
  color: white;
}

.character-portrait.info {
  margin: 0;
}

.character-card {
  position: relative;
}

.element-list {
  background: #2d2f39;
}

.element-list:active,
.element-list:focus {
  outline: none;
}

.character-info .character-icon {
  width: 7rem;
  height: 7rem;
  margin: 0;
}

.character-info .character-type {
  width: 2rem;
  height: 2rem;
}

.element-list {
  width: 106px;
}

.talent-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talent-title {
  margin-bottom: 1rem;
}

.talent-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.talent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.talent > * {
  margin-bottom: 1rem;
}

.talent-label {
  display: flex;
  align-items: center;
}

.talent-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.talent-control {
  background: #36384a;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 0.25rem;
  color: white;
}

.talent-level {
  margin: 0 1rem;
}

.talent-control:not(:disabled):hover {
  background: #2d2f39;
}

.material-list.info {
  margin: 0;
  display: flex;
}

.material-list.info:not(:empty) {
  margin-bottom: 1rem;
}

.material.info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  height: fit-content;
}

.material-image-container.info {
  margin: 0;
}

.character-info .star-level {
  margin-bottom: 1rem;
}

.character-info .star-level label {
  margin-right: 0.15rem;
  width: 1rem;
}

.character-info .star-level label:after {
  width: 1rem;
  height: 1rem;
}

.materials {
  flex-basis: 100%;
}
