.character-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.character-portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 3rem 1rem;
}

.character-portrait .inactive {
  opacity: 0.3;
}

.character-toggle {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.character-icon {
  display: flex;
  background: #36384a;
  border-radius: 0.25rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.character-type {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  right: 0.2rem;
}

.character-name {
  color: #a7b1c1;
  text-decoration: none;
}

.character-name:hover {
  color: white;
}