.character-list {
    background: #222431;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  
  .character-portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
  }
  
  .character-icon {
    background: #36384a;
    border-radius: 0.25rem;
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
  }
  
  .character-name {
    color: #a7b1c1;
  }
  
  .star {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.1rem;
    opacity: 0.4;
    cursor: pointer;
  }