.character-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.character-icon.info {
    width: 106px;
    height: 106px;
}

.character-name.info {
    margin: 0 0 0.5rem 0;
    color: white;
    font-size: 2rem;
}

.back-button {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.talent-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talent {
    color: white;
    display: flex;
    width: 20rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    line-height: 2rem;
}

.talent-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.talent-control {
    background: #36384a;
    color: white;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 0.25rem;
    margin: 0 1rem;
}

.talent-control:not(:disabled):hover {
    background: #2d2f39;
}