.filter-input {
  display: none;
}

.filter-label {
  display: flex;
  cursor: pointer;
  margin: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.filter-image {
  max-width: 2.5rem;
  max-height: 2.5rem;
  box-sizing: border-box;
  padding: 0.25rem;
  opacity: 0.3;
}

.filter-text {
  padding: 0.25rem;
  background: #36384a;
  opacity: 0.3;
  font-size: 14px;
  
}

.filter-image:hover,
.filter-text:hover,
.filter-input:checked + .filter-label .filter-text,
.filter-input:checked + .filter-label .filter-image {
  opacity: 1;
  background: #36384a;
}
