body {
  background: #1d1f29;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

nav {
  background-color: #222431;
  height: 2.5rem;
  color: white;
}

nav ul {
  margin: auto;
  width: 65rem;
  height: 100%;
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 1rem;
  line-height: 2.5rem;
}

nav li a {
  display: inline-block;
  height: 2.5rem;
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

nav li a:hover,
nav li a.active,
nav li a:active {
  line-height: 2.5rem;
  opacity: 1;
  border-bottom: 0.25rem solid#42a5f5;
  box-sizing: border-box;
}

.content {
  margin: auto;
  margin-top: 1rem;
  background: #222431;
  max-width: 65rem;
}